
        * {
            box-sizing: border-box;
        }
        body {
            margin: 0;
            font-family: 'Roboto', sans-serif;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            background-color: #ffffff;
        }
        form {
            width: 500px;
            height: 780px;
            padding: 20px;
            background-color: rgb(51, 46, 46);
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
            border-radius: 20px;
        }
        h1 {
            text-align: center;
            margin-bottom: 30px;
        }
        label {
            display: block;
            margin-bottom: 5px;
        }
        input[type="text"],
        input[type="email"],
        input[type="address"],
        input[type="tel"],
        input[type="password"] {
            width: 100%;
            padding: 10px;
            margin-bottom: 15px;
            border: 1px solid #ccc;
            border-radius: 100px;
            font-size: 14px;
        }
        input[type="submit"] {
            width: 50%;
            padding: 10px;
            background-color: #ff3c00;
            color: white;
            border: none;
            cursor: pointer;
            border-radius: 50px;
            margin-bottom: 20px;
            margin-left: 24%;
            font-size: 130%;
            
        }
        input[type="submit"]:hover {
            background-color: #000203;
        }
        body {

    background-image: url("image/moha.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color: rgba(255, 255, 255, 0.8);
}
  